@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap);

:root {
    --falcon-body-color: #5e6e82;
    --falcon-body-bg: #edf2f9;
    --falcon-card-border-color: rgba(0, 0, 0, 0.13);
    --falcon-box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07)
}

body {
    color: black;
    font-family: Roboto, sans-serif

}

.card {
    border: 0 solid var(--falcon-card-border-color);
    border-radius: .375rem;
    background-color: #ecf0f3;
    color: #a0a5a8
}

.card .card--heading {
    color: #31344b
}

.bg-card {
    background-size: cover;
    background-position: right;
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem
}

.bg-holder {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-repeat: no-repeat
}

.btn--primary {
    letter-spacing: 1px;
    background-color: #0d6efd;
    color: #f9f9f9;
    box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
    border: none;
    outline: 0;
    padding: 10px 40px;
    transform: scale(1)

}

.btn--primary:focus,
.btn--primary:hover {
    color: #f9f9f9;
    box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
    transform: scale(.985);
    transition: .25s

}

.btn-tabs {
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
    color: #4b3331
}

.nav-tabs {
    background-color:  #e0e0c5;
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
    padding: 20px
}

.btn-tabs::before {
    content: "📒"
}

.btn-tabs.active::before {
    content: "📖"
}

#v-pills-tabContent .tab-pane {
    padding: 20px
}

.form__input {
    letter-spacing: .15px;
    border: none;
    outline: 0;
    padding: .5rem 1rem;
    background-color: #ecf0f3;
    transition: .25s ease;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9
}

.form__input:focus {
    box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9
}

.callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem;
    background: #e0e0c5;
    color: #31344b;
    box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1
}

.callout-info {
    border-left-color: #5bc0de
}

.accordion-item .accordion-button {
    box-shadow: none
}

#bai1 form {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5)
}

.alert{
    background-color: #e0e0c5;
}



